In [41]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes, load_iris, load_boston

# Classification

In [45]:
clf_data = load_iris()
df_clf = pd.DataFrame(data=clf_data.data, columns=clf_data.feature_names)
df_clf['random_cat_col'] = np.random.choice(['A', 'B', 'C'], size=len(df_clf))
df_clf['target'] = clf_data['target']
df_clf.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),random_cat_col,target
0,5.1,3.5,1.4,0.2,C,0
1,4.9,3.0,1.4,0.2,A,0
2,4.7,3.2,1.3,0.2,B,0
3,4.6,3.1,1.5,0.2,B,0
4,5.0,3.6,1.4,0.2,B,0

# Regression

In [44]:
reg_data = load_diabetes()
df_reg = pd.DataFrame(data=reg_data.data, columns=reg_data.feature_names)
df_reg['target'] = reg_data['target']
df_reg['sex'] = df_reg['sex'].astype(str)
df_reg['sex'].replace({'0.0506801187398187':'M', '-0.044641636506989':'F'}, inplace=True)
df_reg.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,M,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,F,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,M,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,F,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,F,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0